In [4]:
import pandas as pd
from scipy.io import arff
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import os, shutil
# load a dataset
data_file = 'WekaData' + os.sep + "BTC-all.arff"

# Load arff file
data, meta = arff.loadarff(data_file)
# data_df=pd.read_csv('WekaData/BTC-all.csv')
data_df = pd.DataFrame(data)
data_df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,2.105680e+07
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,3.448320e+07
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,3.686360e+07
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,2.658010e+07
...,...,...,...,...,...,...,...
3245,2023-08-06,29043.701172,29160.822266,28963.833984,29041.855469,29041.855469,7.269807e+09
3246,2023-08-07,29038.513672,29244.281250,28724.140625,29180.578125,29180.578125,1.361816e+10
3247,2023-08-08,29180.019531,30176.796875,29113.814453,29765.492188,29765.492188,1.757056e+10
3248,2023-08-09,29766.695313,30093.435547,29376.800781,29561.494141,29561.494141,1.837952e+10
3249,2023-08-10,29563.972656,29688.564453,29354.447266,29429.591797,29429.591797,1.186534e+10